= form_for(resource, :as => resource_name,:url => session_path(resource_name),:class => 'form-horizontal') do |f|
	.form-group
		= f.email_field(:email,:autofocus => true,:class => 'form-control',:placeholder => t(:email,:scope => :placeholder))
	.form-group
		= f.password_field(:password,:autocomplete => :off,:class => 'form-control',:placeholder => t(:password,:scope => :placeholder))
	.form-group
		= f.submit(t(:login,:scope => :action),:class => 'btn btn-default center-block')
			
