.devise-launch-button {
	padding-top: 50px;
}

.devise-landing-button {
	margin-top: 25px;
}

.devise-password-field {
	margin-top: 10px;
	margin-bottom: 10px;
}

.devise-field {
	width: 95%;
	margin-left: 8px;
}

