doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title DataStreamDemo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/basics.css")
        script.
            var wsHost = ('#{env.WS_HOST}') ? "#{env.WS_HOST}" + '/' : 'http://127.0.0.1:3001';
            var ws = new WebSocket(wsHost);
            ws.onopen = function (event) {
                console.log("websocket open!")
            };
            ws.onmessage = function (event) {
                var notify_message = (JSON.stringify(event.data)).replace("\\\"", "")
                notify_message = notify_message.replace("\\\"", "")
                $('#response_text').text(notify_message);
                console.log("Websocket hit:" + JSON.stringify(event.data));
            }
        script(src="/javascripts/main.js" type="text/javascript")
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    body(onload="refreshFile()")
        .jumbotron.container
            h1(style="margin-left: 10px") Welcome to the BC Gov Data-Stream demo!
            br
            h3(style="margin-left: 10px") Test Connection:
            button.btn.btn-primary(type="button" onclick="fetchAPI()") Test!
            #connection_response.border
                code#connection_text Waiting...
            br
            h3(style="margin-left:10px") Database Subscription Test

            .subscribe_field
                form#db_choices
                    .radio_sub_field.border-top.border-bottom
                        h4(style="padding-left: 10px; padding-top: 5px") Available Databases
                        .selection_container.overflow-auto.border-top.border-bottom
                            #fire_points.sub_database_option.border-bottom()
                                input(type="checkbox" name="prot_current_fire_points-shp" id="prot_current_fire_points-shp")
                                label(for="prot_current_fire_points-shp" value="prot_current_fire_points") prot_current_fire_points
                                br
                            #fire_polys.sub_database_option.border-bottom()
                                input(type="checkbox" name="prot_current_fire_polys-shp" id = "prot_current_fire_polys-shp")
                                label(for="prot_current_fire_polys-shp" value="prot_current_fire_polys") prot_current_fire_polys
                                br
                            #lightning_bc.sub_database_option.border-bottom()
                                input(type="checkbox" name="lightning_bcalbers-csv" id="lightning_bcalbers-csv")
                                label(for="lightning_bcalbers-csv" value="lightning_bcalbers-csv") lightning_bcalbers
                                br
                        input#subscribe_button.btn.btn-primary(type="submit" style="margin-left: 10px" value="Subscribe" onclick="sub_choices()")
            br
            .unsubscribe_field.border
                form#unsub_choices
                    .radio_unsub_field.border-bottom
                        h4(style="padding-left: 10px; padding-top: 5px") Active Subscriptions
                        #current_sub_container.current_sub_container.border-top.border-bottom
                        input#unsubscribe_button.btn.btn-primary(type="submit" style="margin-left: 10px" value="Unsubscribe" onclick="unsub_choices()")
            .response_log.overflow-auto.border
                code#response_text.moving Awaiting response...
            button#notify_button.btn.btn-primary(type="button" onclick="test_Notification()") Notify Test!
            .notify_log.overflow-auto.border
                code#notify_text