
h3 {
  display: inline-block;
}

.jumbotron {
  padding-left: 40px;
  padding-right: 40px;
}

button {
  margin-left: 10px;
  margin-top: -10px;
  float: top;
}

.response_log {
  margin-bottom: 20px;
}
.display_response {
  position: relative;
}
.subscribe_unsubscribe_container {
  height: 250px;
  width: 100%;
}

.radio_sub_field {
  height: 250px;
  background-color: white;
  border-radius: 15px;
}

.current_subs_container {
  min-height: 150px;
  height: 150px;
  overflow: hidden;
}


label {
  margin-left: 10px;
}
#unsubscribe_button {
  margin-top: 10px;
  margin-left: 15px;
}

.radio_unsub_field {
  height: 250px;
  background-color: white;
  border-radius: 15px;
}

.subscribe_field {
  width: 100%;
  border-radius: 15px;
}

#subscribe_button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
}

.unsubscribe_field {
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  border-color: #222222;
}

.sub_database_option {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  height: 50px;
}

.unsub_database_option {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  height: 50px;
}

#current_subs_container {
  overflow: auto;
  padding-left: 10px;
  height: 150px;
  max-height: 150px;
}
.selection_container {
  height: 150px;
  max-height: 150px;
}
.sub_database_option:hover {
  cursor: pointer;
}

.unsub_database_option:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

.response_log {
  margin-top: 24px;
  width: 100%;
  height:300px;
  padding-left: 10px;
  background-color: white;
  border-radius: 15px;
}

.notify_log {
  margin-top: 24px;
  width: 100%;
  height:50px;
  padding-left: 10px;
  background-color: white;
  border-radius: 15px;
}

#connection_response {
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-bottom:10px;
  padding-top: 10px;
}


